@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 90px;
  text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

h2 {
  margin-top: -10px;
  margin-left: 3px;
  font-size: 18px;
  color: #ff4ff6e1;
  text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

.social {
  align-items: center;
  margin-left: 2vh;
  
}

.icon {
  margin: 10px;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 1000px){
  .header{
    margin-top: -25vh;
  }
  .social{
    position: absolute;
    align-items: center;
    margin-top: 5vh;
    margin-left: 0vh;
  }
}

@media screen and (max-width: 600px){
  .header{
    margin-top: -25vh;
  }
  h1{
    font-size: 64px;
  }
  h2{
    font-size: 14px;
  }
  .social{
    position: absolute;
    align-items: center;
    margin-left: 0vh;
  }
  .icon{
    margin: 7px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 400px){
  .header{
    margin-top: -15vh;
  }
  h1{
    font-size: 42px;
  }
  h2{
    margin-top: -5px;
    font-size: 14px;
  }
  .icon{
    margin: 4px;
    width: 37px;
    height: 37px;
  }
}

section i{
  position: absolute;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 10px #FFF,
  0 0 20px #FFF,
  0 0 40px #FFF,
  0 0 80px #FFF;
  animation: animate linear infinite;
}
@keyframes animate{
  0%{opacity: 0;}
  10%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}