@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

text.text1 {
  animation: colorRotate 2s linear 0s infinite;
}

text.text2 {
  animation: colorRotate 1s linear 0s infinite;
}

h1.H1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 12vh;
  text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

h1.H2 {
  margin-top: -1vh;
  margin-left: 0.5vh;
  font-size: 2.2vh;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

.header{
  margin-bottom: 1vh;
}

.social {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 1.2vh;
  width: 7vh;
  height: 7vh;
}

@media screen and (max-width: 600px){
  h1.H1{
    font-size: 7.7vh;
  }
  h1.H2{
    font-size: 2.2vh;
    text-align: center;
  }
  .icon{
    margin: 1vh;
    width: 6vh;
    height: 6vh;
  }
}

@media screen and (max-width: 300px){
  h1.H1{
    font-size: 6.7vh;
    text-align: center;
  }
  h1.H2{
    margin-top: 0vh;
    margin-left: 0vh;
    font-size: 2.2vh;
    text-align: center;
  }
  .icon{
    margin: 1vh;
    width: 6vh;
    height: 6vh;
  }
}

section i{
  position: absolute;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 10px #FFF,
  0 0 20px #FFF,
  0 0 40px #FFF,
  0 0 80px #FFF;
  animation: animate linear infinite;
}

@keyframes animate{
  0%{opacity: 0;}
  10%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}